#exportPattern("^[[:alpha:]]+")
exportMethods(
    "initialize",
    "plot",
    "summary"
)
export(
    "avail",
    "BK",
    "BK_CC",
    "BK_ML",
    "Can",
    "Cant",
    "CC1",
    "CC4",
    "CompSRA",
    "CompSRA4010",
    "curE",
    "curE75",
    "DBSRA",
    "DBSRA_40",
    "DBSRA_ML",
    "DBSRA4010",
    "DCAC",
    "DCAC_40",
    "DCAC_ML",
    "DCAC4010",
    "DD",
    "DD4010",
    "DepF",
    "DLMDataDir",
    "DynF",
    "Fadapt",
    "Fdem",
    "Fdem_CC",
    "Fdem_ML",
    "FMSYref",
    "FMSYref50",
    "FMSYref75",
    "Fratio",
    "Fratio_CC",
    "Fratio_ML",
    "Fratio4010",
    "getq",
    "GB_CC",
    "GB_slope",
    "GB_target",
    "Gcontrol",
    "getmov",
    "Islope1",
    "Islope4",
    "Itarget1",
    "Itarget4",
    "LstepCC1",
    "LstepCC4",
    "Ltarget1",
    "Ltarget4",
    "matagelim",
    "MCD",
    "MCD4010",
    "MRreal",
    "MRnoreal",
    "SPmod",
    "SPslope",
    "movfit",
    "Needed",
    "qopt",
    "Rcontrol",
    "Rcontrol2",
    "replic8",
    "Required",
    "runMSE",
    "Sam",
    "SBT1",
    "SBT2",
    "Sense",
    "SPMSY",
    "SPSRA",
    "SPSRA_ML",
    "TAC",
    "Tplot",
    "Pplot",
    "Kplot",
    "VOI",
    "YPR",
    "YPR_CC",
    "YPR_ML"
)
exportClasses(
    "DLM_data",
    "MSE",
    "Fleet",
    "Stock",
    "Observation",
    "OM"
)
import(
    "MASS",
    "boot",
    "snowfall",
    "parallel",
    "methods"
)
importFrom("grDevices", "col2rgb", "rainbow", "rgb")
importFrom("graphics", "axis","abline", "hist", "layout", "legend", "lines",
      "mtext", "par", "points", "polygon", "text")
importFrom("stats", "cor", "density", "dlnorm", "dnorm", "lm", "loess",
      "optim", "optimize", "predict", "qlnorm", "qnorm",
      "quantile", "rbeta", "rlnorm", "rmultinom", "rnorm",
      "runif", "sd")
importFrom("utils", "flush.console", "read.csv")
