#exportPattern("^[[:alpha:]]+")
exportMethods(
    "initialize",
    "plot",
    "summary"
)
export(
    "avail",
    "area1MPA",
    "BK",
    "BK_CC",
    "BK_ML",
    "Can",
    "Cant",
    "CC1",
    "CC4",
    "CompSRA",
    "DBSRA",
    "DBSRA_40",
    "DBSRA_ML",
    "DBSRA4010",
    "DCAC",
    "DCAC_40",
    "DCAC_ML",
    "DCAC4010",
    "DD",
    "DD4010",
    "DepF",
    "DLMDataDir",
    "DynF",
    "Fadapt",
    "Fdem",
    "Fdem_CC",
    "Fdem_ML",
    "FMSYref",
    "FMSYref50",
    "FMSYref75",
    "Fratio",
    "Fratio_CC",
    "Fratio_ML",
    "Fratio4010",
    "getq",
    "GB_CC",
    "GB_slope",
    "GB_target",
    "Gcontrol",
    "getQuota",
    "getmov",
    "Islope1",
    "Islope4",
    "Itarget1",
    "Itarget4",
    "LstepCC1",
    "LstepCC4",
    "Ltarget1",
    "Ltarget4",
    "matsizlim",
    "SPmod",
    "SPslope",
    "movfit",
    "Needed",
    "qopt",
    "Rcontrol",
    "Rcontrol2",
    "replic8",
    "Required",
    "runMSE",
    "Sam",
    "SBT1",
    "SBT2",
    "Sense",
    "SPMSY",
    "SPSRA",
    "SPSRA_ML",
    "Tplot",
    "Pplot",
    "Kplot",
    "YPR",
    "YPR_CC",
    "YPR_ML"
)
exportClasses(
    "DLM",
    "MSE",
    "Fleet",
    "Stock",
    "Observation",
    "OM"
)
import(
    "MASS",
    "boot",
    "snowfall",
    "methods"
)
